<!DOCTYPE html>
<html>
<head>
    <title>Log In</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/log-in.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/general.css' %}">
</head>
<body>
    <main>
        <h1>Log In</h1>
        <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Log In</button>
        </form>
    </main>
</body>
</html>
